body{
	margin:100;
	font-family: cursive;
}

*{
}
.testimonials{
	min-height: 100vh;
	background-color: #f5dbd4;
	width: 100%;
	padding:100px 15px;
}

.container{
	max-width: 10170px;
	margin: auto;
}
.testimonials .title{
	margin-bottom:100px/* DISTANCE BETWEEN TITLE AND BOX*/
}
.testimonials .title h1{
	text-align: center;
	color:#915454;
	text-transform: uppercase;
	font-size: 36px;
	margin:0;
}

.testimonials .slider{ /* visible border */
 border:5px solid #e6dede;
 max-width: 600px;
 margin: auto;
 text-align: center;
 padding:30px;
 border-style: groove;
}
.testimonials .slider .slide{
	display: none;
}
.testimonials .slider .slide.active{
	
	display: block;
	animation: slide 1s ease;
}
@keyframes slide{
	0%{
		opacity:0;/*HIDE OR SHADE AWAY */
		transform: translateX(-110px);/*SLIDES IN */
	}
	100%{
	   opacity:1;
	}
}
.testimonials .slider p{
	font-size:18px;
	color:#8e4b4b;
	word-spacing: 2px;
}
.testimonials .slider .client-info h3{
	font-weight: bold;
	color:#4a2d77;
	font-size:18px;
	margin:30px 0 10px;
}
.testimonials .slider .client-info span{
	display: block;
	font-size:16px;
	color:#f6422e;
}
.testimonials .slider-indicator{
	text-align: center;
	padding-top:30px;
}
.testimonials .slider-indicator img{
	max-height:80PX;
	max-width:200px;
	border-radius:50%;
	display: inline-block;
	margin:0 8px;
	opacity:0.2; /*HIDE OR SHADE AWAY */
	border:4px solid #0404045d;
	cursor: pointer;
	transition: opacity 1s ease; /* slow transition*/
}
.testimonials .slider-indicator img.active{
	opacity:1;
}




